/* General */
header {
}

content {
}

footer {
    margin-top: 2em;
    text-align: right;
}

/* Menu */
form#login dl { 
    position: absolute; 
    top: 0; 
    right: 0;
    text-align:right; 
}

form#login dl dt,
form#login dl dd {
    display: inline-block;
    float: left;
    margin: 0;
}

/* Productos */
table {
    align: left;
    margin: auto;
}

table#ProductosTabla thead th {
    width: 20%;
}
