/* General */
header {
}

div#Contenido {
    min-height: 400px;
}

footer {
    margin-top: 2em;
    text-align: right;
}

/* Productos */
table#ProductosTabla {
    text-align: left;
    margin: auto;
}

table#ProductosTabla thead th {
    width: 20%;
}
